h1, strong, p, h3
{
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

header
{
    
}

.header
{
    max-width: 50%;
    z-index: 1;
}

.NavHautDroit
{
    display: flex;
    justify-self: flex-end;
    position:absolute;
    right: 0px;
    top: 0px;
}

.Bouton01, .Bouton02
{
border-top:1px solid blue;
margin: 20px;
padding: 20px;
}

.MenuPref
{
    display: flex;
    justify-content: space-around;
}

.menu01
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.ElementMenu02
{
    display: flex;
    justify-content: ;
}
.footer1
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin: auto;
}