h1, strong, p, h3
{
    font-family: 'Raleway', sans-serif;
}

img
{
    max-width: 300px;
    max-height: 300px;
}

a
{
    text-decoration: none;
    color: black;
}

header
{
    
}

.header
{
    max-width: 50%;
    z-index: 1;
}

.NavHautDroit
{
    display: flex;
    justify-self: flex-end;
    position:absolute;
    right: 0px;
    top: 0px;
}

.Bouton01, .Bouton02
{
border-top:1px solid blue;
margin: 20px;
padding: 20px;
}

.MenuPref
{
    display: flex;
    justify-content: space-around;
}

.menu01
{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin: auto;
}

.logement01, .logement02, .logement03, .logement04, .logement05, .logement06
{
    border: 3px dotted white;
    border-radius: 10px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;

}

.menu02
{
    display: flex;
    justify-content: space-around;
    padding: auto;
    margin: auto;
}

.logementpopulaire01, .logementpopulaire02, .logementpopulaire03
{
    border: 3px dotted white;
    border-radius: 10px;
    background-color: white;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
}



.ElementMenu01
{
    display: flex;
    flex-wrap: wrap;

}



.ElementMenu02
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.menu02
{
    display: flex;
}

.Activité01, .Activité02, .Activité03, .Activité04, .Activité05, .Activité06
{
    background: #F5F5F5 no-repeat 10px 15px;
    border: 1px solid #C0C0C0;
    border-radius: 10px;
    color: #404040;
    padding: 0 10px 10px 100px;
    margin: 50px 0;
    height: 300px;
    width: 300px;
}

.footer1
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin: auto;
}