h1, strong, p, h3
{
    font-family: 'Raleway', sans-serif;
}

img
{
    max-width: 300px;
    max-height: 300px;
}

a
{
    text-decoration: none;
    color: black;
}

.header
{
    max-width: 50%;
    z-index: 1;
}

.NavHautDroit
{
    display: flex;
    justify-self: flex-end;
    position:absolute;
    right: 0px;
    top: 0px;
}

.Bouton01, .Bouton02
{
border-top:1px solid blue;
margin: 20px;
padding: 20px;
}

.MenuPref
{
    display: flex;
    justify-content: space-around;
}

.menu01
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.ElementMenu01, .ElementMenu02 {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 25px;
}

.ElementMenu01 .content
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.logement
{
    border: 3px dotted white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 10px;

}

.menu02
{
    display: flex;
    justify-content: space-around;
    padding: auto;
    margin: auto;
}

.logementpopulaire
{
    border: 3px dotted white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 10px;
}

.ElementMenu02
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.menu02
{
    display: flex;
}

.Activite
{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

.Activites
{
    border: 3px dotted white;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    margin: 10px;
}

.footer1
{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin: auto;
}

