
/* GENERAL USE */

html,body {
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px 0 0px;
}

.policeGras {
    font-weight: bold;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.colorLiensNone{
    text-decoration: none;
    color: black;
}

.colorLiensNone:hover {
    color: #0065FC;
}

.colorBleu {
    color: #0065FC;
}

.colorGris {
    color: #F2F2F2;
}
.fondBleu {
    background-color: #0065FC;
}

.fondBleuClaire {
    background-color: #DEEBFF;
}

.fondGris {
    background-color: #F2F2F2;
}

.fondBlanc {
    background-color: white;
}

/*  HEADER */

/* Entête */
nav {
    padding: 0 15px;
}
.espaceLogoliens {
    display: flex;
    justify-content: space-between;
}

.liensNav {
    display: flex;
    justify-content: center;
    align-content: center;
}

.paddingLienNav {
    padding: 30px;
    display: flex;
    align-items: center;
}

.paddingLienNav:hover {
    border-top: 2px solid #0065FC;
    text-decoration-color: #0065FC;
}

.entete {
    display: flex;
}

.logoBooki {
    padding: 15px;
}

/* Barre de recherche */

.alignBdr {
    display: flex;
    align-content: flex-start;
    width: 400px; 
    height: 52px;
}

.tailleLogoMap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 0;
}

.tailleBdr {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 140px;
    max-height: 50px;
}

.tailleBoutonRecherche {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: #0065FC;
    color:white;
    border-radius: 0 10px 10px 0;
}

.reponsiveFullScreen {
    display: flex;

}

.reponsiveMobile {
    display: none;
}

/* Filtres */

.filtres {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
    max-height: 55px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.alignFiltres {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    border-left: none;
    max-height: 50px;
    margin: 10px;
}

.alignFiltres:hover > .logoFiltres {
    background-color: #0065FC;
}

.alignFiltres:hover > .colorBleu {
    color: white;
}


.logoFiltres {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 52px;
    min-height: 52px; 
    border-radius: 50%;
    margin-right: 10px;
}

.filtreTitre {
    display: flex;
    align-items: flex-start;
}
.marginTexte {
    margin-right: 15px;
}

/* Information */

.information{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.logoInfon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    min-height: 30px;
    min-width: 30px;
    max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
}

/* SECTION 1 */

.section1 {
    display: flex;
    justify-content: space-around;
    margin: 0 15px;   
} 

.sectionHebergemets {
    flex: 2;
    margin-right: 20px;
    border-radius: 25px;
    background-color: #F2F2F2;
}

.sectionPopulaires {
    flex: 1;
    border-radius: 25px;
   
}

/* Titres */

.titreSectionHebergement{
    margin-left: 25px;
}
.titrePopulaires {
    display: flex;
    justify-content: space-between;
}

.logoTitrePopulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

/* Vignettes section hébergement */

.vignettesHebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cadreVignetteHebergement {
    max-width: 25%;
    min-width: 25%;
    border-radius: 25px;
    margin: 20px;
    padding: 5px;
    box-shadow: 1px 1px 12px #D7C9C9;
}

.photoHebergement {
    width: 100%;
    max-height: 150px;
    min-height: 150px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}

.prixHebergement {
    padding-left: 10px;
}

.titreCadreHerbergement {
    padding-left: 10px;
}

/* Vignettes section populaires */

.logoTitrePopulaire {
    margin-right: 25px;
}

.cadreVignettePopulaire {
    max-height: 190px;
    min-height: 190px;
    min-width: 365px;
    border-radius: 25px;
    margin: 25px;
    padding: 5px;
    box-shadow: 1px 1px 12px #D7C9C9;
}

.imageVignettePopulaire{
    float: left;
    max-width: 201px;
    min-width: 201px;
    max-height: 190px;
    min-height: 190px;
    border-radius: 25px 0 0 25px;
    margin-right: 15px;
    object-fit: cover;
}

.descriptifPopulaires{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 190px;
    position: relative;
}

.prixVignettePopulaire {
    margin-bottom: 0px;
}

/* liens bas de section hébergement */

.lienSectionHebergement {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
padding-left:25px;
}

/* Note étoiles */

.herbegementNote {
    padding: 0 0 10px 10px;
}

.populairesNote {
    padding: 0 0 10px 0;
    position: absolute;
    bottom: 0;
}

/* SECTION 2 */

.margeTitreActivite {
    margin: 40px 0px 0px 15px;
}

.vignetteActivite {
    display: flex;
    justify-content: space-between;
    max-height: 600px;
}

.cadreVignetteActivite {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 25px;
    margin: 15px;
}

.contourActivite {
    border-radius: 25px
    }

.contour {
    box-shadow: 1px 1px 12px #F2F2F2;
    }

.dimensionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
    }

.titreImage  {
    margin: 15px;
    }

.doublePhoto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.dimenssionPetit1 {
    height: 55%;
     display: flex;
    flex-direction: column;
     }
        
.dimenssionPetit2 {
    height: 40%;
    display: flex;
    flex-direction: column;
    }
        
.dimenssionPetit3 {
    height: 45%;
    display: flex;
    flex-direction: column;
    }
        
.dimenssionPetit4 {
    height: 50%;
    display: flex;
    flex-direction: column;
    }


/* FOOTER */

.mepFooter {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.liensFooter {
    display: flex;
    flex-direction: column;
}

.liensFooter > a {
    margin: 5px;
}


/* Media Queries */

@media all and (min-width: 769px) and (max-width: 992px) {
    
    /* Général */

    html,body {
        margin: auto;
    }

    h1 {
        align-items: center;
    }

    nav {
        height: auto;
        width: auto;
        padding: 20px;
    }

    /* Information */

    .information {
        margin-bottom: 0px;
    }

    /* Section 1 */

    .section1 {
        margin-bottom: 40px;
    }

    /* Hébergement */

    .sectionHebergemets {
        flex: 2;
        margin-right: 20px;
        border-radius: 25px;
        background-color: #F2F2F2;
    }
    
    .sectionPopulaires {
        flex: 1;
        border-radius: 25px;
       
    }

    /* Section Hébergement */

    .sectionHebergemets {
        min-width: 66%;
    }

    .vignettesHebergement {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .cadreVignetteHebergement {
        max-width: 25%;
        min-width: 25%;
        border-radius: 25px;
        margin: 20px;
        padding: 5px;
        box-shadow: 1px 1px 12px #D7C9C9;
    }
    
    .photoHebergement {
        width: 100%;
        max-height: 150px;
        min-height: 150px;
        border-radius: 25px 25px 0 0;
        object-fit: cover;
    }
    
    .prixHebergement {
        padding-left: 10px;
    }
    
    .titreCadreHerbergement {
        padding-left: 10px;
    }

    /* Section Populaire */

    .sectionPopulaires {
        min-width: 33%;
    }

    .logoTitrePopulaire {
        margin-right: 25px;
    }
    
    .cadreVignettePopulaire {
        min-width: fit-content;
    }
    
    .imageVignettePopulaire{
        max-width: 50%;
        min-width: 50%;
        max-height: inherit;
        min-height: inherit;
    }
    
    .descriptifPopulaires{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 190px;
        position: relative;
    }

    /* Section 2 */

    .vignetteActivite {
        max-height: 500px;
    }
}
   

@media screen and ( max-width: 768px) {

    /* Général */

    html,body {
        margin: auto;
    }

    h1 {
        align-items: center;
    }

    nav {
        height: auto;
        width: auto;
        padding: 20px;
    }
    
    
    /* En tête */

    .espaceLogoliens {
        flex-direction: column;
        align-items: center;
    }
    
    .logoBooki {
        margin-left: 60px;
    }

    .paddingLienNav {
        padding-bottom: 10px;
        border-bottom: solid 2px #F2F2F2;
    }
     
    .margineHeaderRespon {
        margin: 20px;
    }
    .entete {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .paddingLienNav:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        text-decoration-color: #0065FC;
    }

    /* Barre de recherche */

    .alignBdr {
        align-content: center;
        width: auto; 
    }
    
    .tailleBoutonRecherche {
        width: 50px;
    }

    .tailleBdr {
        max-width: none;
    }

     .reponsiveMobile {
        display: flex;
    }

    .reponsiveFullScreen {
        display: none;
    }


    /* Information */

    .information {
        margin-bottom: auto;
    }

    /* Filtre */

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        max-height: none;
        max-width: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    
    /* Section 1 hébergement et populaire*/
    
    .section1 {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin: auto;   
    } 
    
    .sectionHebergemets {
        flex: none;
        margin-right: auto;
        border-radius: 25px;
        padding: 25px;
        background-color: white;
        order: 2;
    }
    
    .sectionPopulaires {
        flex: none;
        border-radius: 0px;
        padding: 20px;
        order: 1; 
    }

    /* populaire */ 

    .logoTitrePopulaire {
        margin-right: 0px;
    }

    .cadreVignettePopulaire {
        margin: auto;
        margin-bottom: 15px;
        min-height: 170px;
        min-width: auto;
    }

    .imageVignettePopulaire {
        max-width: 150px;
        min-width: 150px;
        max-height: 170px;
        min-height: 170px;
    }

    .populairesNote {
        padding: 0 0 25px 0;
    }

    .prixVignettePopulaire {
        margin: 0;
    }

    .descriptifPopulaires {
        height: 170px;
    }

    .populairesNote {
        padding-bottom: 5px;
    }
    /* hebergement */

    .cadreVignetteHebergement {
        margin: 0 0 15px 0;
        min-width: 100%;
    }

    .photoHebergement {
        min-width: 100%;
        max-height: 135px;
        min-height: 135px;
    }
    .titreCadreHerbergement {
        margin: 5px 0 5px 0;
    }

    .prixHebergement {
        margin: 7px 0 7px 0;
    }
    .herbegementNote {
        padding: 0 0 10px 10px;
    }

    .titreSectionHebergement {
        margin-left: 0px;
    }

    /* section 2 Activitées */

    .margeTitreActivite {
        margin: 40px 0px 0px 15px;
    }
    
    .vignetteActivite {
        display: block;
        max-height: none;
    }
    
    .cadreVignetteActivite {
        width: auto;
    }
    
    .contourActivite {
        border-radius: 25px
        }
    
    .contour {
        box-shadow: 1px 1px 12px #F2F2F2;
        }
    
    .dimensionImage {
        height: 190px;
    }
    
    .titreImage  {
        margin: 15px;
        }
    
    .doublePhoto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    
    .dimenssionPetit1 {
        height: 55%;
         display: flex;
        flex-direction: column;
         }
            
    .dimenssionPetit2 {
        height: 40%;
        display: flex;
        flex-direction: column;
        }
            
    .dimenssionPetit3 {
        height: 45%;
        display: flex;
        flex-direction: column;
        }
            
    .dimenssionPetit4 {
        height: 50%;
        display: flex;
        flex-direction: column;
        }
    

    /* Footer */

    .mepFooter {
        flex-direction: column;
    }
    .liensFooter {
        margin-bottom: 20px;
    }

}
/* ~ */