
/* GENERAL USE */

html,body {
    font-family: 'Raleway', sans-serif;
}

.colorLiensNone {
    text-decoration: none;
    color: black;
}

.colorBleu {
    color: #0065FC;
}

.colorBleuClair {
    color: #DEEBFF;
}

.colorGris {
    color: #F2F2F2;
}

.fondBleu {
    background-color: #0065FC;
}

.fondBleuClaire {
    background-color: #DEEBFF;
}

.fondGris {
    background-color: #F2F2F2;
}

/*  HEADER */

/* FOOTER */

.mepFooter{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    padding: 20px;
    padding-left: 50px;
}


